body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(130, 0, 130)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#wrapper {
  position: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  background-color: blue;
}

/*************************************************
 Banner
*************************************************/
header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 10%;
  background-image: radial-gradient(rgb(0, 5, 20), rgb(0, 10, 10), rgb(0, 20, 10), rgb(0, 70, 5));
  color: red;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 3px 10px black;
}
header h1 {
  margin: 0;
  font-size: 1.5em;
  padding-left: 10px;
  text-shadow: 0 1px 5px yellow;
  text-align: left;
}


/************************************************
 Cards
*************************************************/
.card {
  height: 60%;
  background-color: rgb(255, 238, 217);
}

#topCardHolder {
  position: fixed;
  top: 2%;
  z-index: 999;
  width: 100%;
  height: 15%;
  /*border: 2px solid yellow;*/
  box-sizing: border-box;
}
#card1 {
  margin: 12% auto;
  width: 95%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 5px 5px black;
}

#botCardHolder {
  position: relative;
  z-index: 999;
  width: 100%;
  height: 15%;
  margin-bottom: -15%;

  border: 2px solid yellow;
  box-sizing: border-box;
}
#card2 {
  margin: 0vh auto;
  width: 95%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0px -5px 5px black;
}
#card2 div {
  margin: 2%;
  padding: 0;
  width: 35%;
  height: 50%;
  box-sizing: border-box;
  border: 1px solid red;
  font-size: .5em;
  text-align: center;
  border-radius: 4px;
  float: left;
}
#card2 div:nth-child(2){
  margin-left: 24%;
}

#option-menu{
  position: relative;
  top:50%;
  width: 50%;
  margin: -50% auto 0;
  list-style: none;
  padding: 0;
  z-index: 99999999999;
  background-color: white;
  color: black;
  float: left;
  border-radius: 2px;
}
#card2 h3 {
  margin: 0;
  padding: 0;
}

/****************************************************
  Chord Backdrop
****************************************************/
#chordBackdrop {
  position: fixed;
  top: 10%;
  z-index: 999;
  width: 100%;
  height: 80%;
  background-image: radial-gradient(rgb(15, 0, 15), rgb(30, 0, 30), rgb(60, 0, 60), rgb(130, 0, 130));
  border: 3px solid yellow;
  box-sizing: border-box;
  align-content:center;
}
#index-indicator {
  position: fixed;
  width: 100%;
  top: 76%;
  font-size: .7em;
  box-sizing: border-box;
  /*border: 1px solid lightgreen;*/
  padding: 0;  
  margin: auto;
  color: white;
  z-index: 100000000;
  text-align: center;
}
#l-cDiagram-arrow {
  position: fixed;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid gold;
  width: 10px;
  top: 50%;
  left: 5%;
}
#r-cDiagram-arrow {
  position: fixed;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid gold;
  width: 10px;
  top: 50%;
  left: 90%;
}

#svg-list {
  position:relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  overflow-x: scroll;
  box-sizing: border-box;
  border: 3px solid red;
  z-index: 1000;
  
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: mandatory;
  ms-scroll-snap-type: mandatory;
  -webkit-scroll-snap-type: mandatory;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
#svg-list li {
  flex: none;
  width: 100%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: 3px solid cyan;
  z-index: 100000;

  scroll-snap-align: center; 
  scroll-snap-coordinate: 0 0;
  -webkit-scroll-snap-coordinate: 0 0;
}
.the-svg {
  display: block;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-60%);
}
#chord-diagram {
  widows: 100%;
  height: 100%;
  border: 2px solid cyan;
  box-sizing: border-box;
}

#slide {
  position: fixed;
  top: 0;
  z-index: 998;
  /*border: 2px solid red;*/
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
#spacer{
  position: relative;
  z-index: -998;
  border: 2px solid green;
  box-sizing: border-box;
  height: 86%;
  margin: 0;
}
/***************************************************
Description
****************************************************/
#description {
  position: relative;
  z-index: 1000;
  height: 70%;
  background-image: radial-gradient(rgb(0, 5, 20), rgb(0, 10, 10), rgb(0, 20, 10), rgb(0, 70, 5));
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0px -3px 10px black;
}
#triHolder {
  border: 1px solid transparent;
  height: 1px;
  z-index:1000000
}
#triangle {
  z-index: 1000000;
  position: relative;
  height: 0;
  width: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 32px solid gold;
  margin: 20px auto 0;
  -webkit-filter: drop-shadow(0px 0px 10px yellow);
  filter: drop-shadow(0px 0px 10px yellow);
}

/******************************************************/
/* chord selection */
#chordHolder {
  height: 20%;
  width: 100%;
  margin: 2% auto 2%;
  padding: 0;
  display: flex;
  overflow-x: scroll;
  scroll-snap-points-x: repeat(33.33%);
  scroll-snap-type: mandatory;
  ms-scroll-snap-type: mandatory;
  -webkit-scroll-snap-type: mandatory;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  background-color: rgb(26, 65, 26);
  /*border: 2px solid yellow;*/
  box-sizing: border-box;
  overflow: auto;
}
#chordHolder li {
  scroll-snap-align: center; 
  scroll-snap-coordinate: 0 0;
  -webkit-scroll-snap-coordinate: 0 0;
  flex: none;
  width: 33.33%;
  height: 100%;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  color: white;
  /*text-align: center;*/
  font-size: .9em
}
#chordHolder li h6 {
  margin: 0;
  padding: 0;
  position: relative;
  margin-left: -100%;
  margin-right: -100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
#chordHolder li.selected {
  font-size: 1.9em;
  text-decoration: underline;
  text-shadow: 0 1px 10px black;
  border-bottom: 2px solid gold
}



.panel-wrap {
  height: 100%;
  width: 100%;
  background-color: rgb(26, 65, 26);
}
#panelWrap {
  height: 70%;
  width: 95%;
  margin: 0 auto 0;
  /*border: 2px solid yellow;*/
  box-sizing: border-box;
}
#panel1 {
  width: 100%;
  height: 100%;
}
#theroot {
  height: 50%;
  width: 50%;
  float: left;
  margin: 0;
  /*border: solid orchid;*/
  border-width: 2px 2px 2px 0;
  
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: center;
}
#theroot h3{
  box-sizing: border-box;
  padding-top: 10%;
  height: 30%;

}
#theroot h6 {
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#root-container {
  margin: 2%;
  height: 70%
}
#the-root {
  width: 58%;
  height: 50%;
  margin-right: 2%;
  float: left;
  background-color: white;
  color: black;
  border-radius: 2px;
}
#root-menu {
  width: 58%;
  height: 240%;
  float: left;
  overflow: scroll;
  list-style: none;
  margin: 0 2% 0 0;
  padding: 0;
  background-color: white;
  color: black;
  position: relative;
  border-radius:2px;
  z-index: 1000;
}
#root-menu li {
  height: 14%;
  z-index: 1001;
}
#the-accidental {
  width: 40%;
  height: 50%;
  float: left;
  background-color: white;
  color: black;
  border-radius:2px;
}
#accidental-menu {
  width: 40%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1000;
  background-color: white;
  color: black;
  float: left;
  position: relative;
  border-radius: 2px;
  overflow: scroll;
}
#accidental-menu li {
  height: 33%;
  z-index: 1001;
}


#mode {
  height: 50%;
  width: 50%;
  float: left;
  margin: 0;
  /*border: solid orchid;*/
  border-width: 2px 2px 2px 0;
  
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: center;
  /*height: 50%;
  width: 50%;
  float: left;
  border: 2px solid blue;
  box-sizing: border-box;
  text-align: center;*/
}
#mode h3 {
  box-sizing: border-box;
  height: 30%;
  padding-top: 10%;
}
#mode h6 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#mode-container {
  margin: 2%;
  height: 70%;
}
#the-mode {
  height: 50%;
  background-color: white;
  color: black;
  border-radius: 2px;
}
#mode-list {
  background-color: white;
  color: black;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1000;
  height: 240%;
  border-radius: 2px;
  overflow: scroll;
}
#mode-list li {
  height: 14%;
}





/****************************************************
  Tab Section
****************************************************/
.tabs {
  height: 80%;
}
/***************************************************
Tab Navigation
****************************************************/
.tab-list {
  border-bottom: 2px solid white;
  box-sizing: border-box;
  height: 20%;
  margin: 0;
  padding: 2.5%;
}
.tab-list-item {
  height: 100%;
  width: 49%;
  box-sizing: border-box;
  display: inline-block;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 50%;
  background-color: lightgreen;
}
.tab-list-item h6{
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.tab-list :nth-child(2) {
  margin: 0 0 0 2%;
}
.tab-list-active {
  background-color:lightgreen;
  border:solid gold;
  border-width: 0px 2px 2px 2px;
}
/********************************************
Tab Panels
*********************************************/
.tab-content {
  color: white;
  font-size: .75em;
  height: 80%;
  width: 95%;
  margin: auto;
}
.tab-content h3{
  margin: 0;
  padding: 0;
}

/*-----------------------------------------------
note selection */

#triad, #extensions {
  height: 25%;
  width: 100%;
  padding: 2% 0 2% 0;
  float: left;
  /*border: 2px solid cyan;*/
  box-sizing: border-box;
  text-align: left;
}
#extensions {
  /*border: 2px solid red;*/
}
#triad h3, #extensions h3 {
  width: 25%;
  height: 100%;
  float: left;
}
#triad h3 span, #extensions h3 span {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#tri-list, #ext-list {
  width: 75%;
  height: 100%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
#tri-list li {
  display: inline-block;
  text-align: center;
  width: 15%;
  margin: 0 9%;
  height: 100%;
  overflow: auto;
}
#ext-list li {
  display: inline-block;
  text-align: center;
  width: 15%;
  margin: 0 5%;
  height: 100%;
  overflow: auto;
}
#tri-list h6, #ext-list h6 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#tri-list li.selected-note, #ext-list li.selected-note {
  color: red;
  border: 1px solid blue;
  box-sizing: border-box;
}

/****************************************************************/
.hide {
  display: None;
}
